.global-container{
    display: flex;
    width: 100%;
    text-align: center;
    height: 35vh;
    margin-bottom: 2vh;
}
.global-info-left{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.global-info-right{
    display: flex;
    width: 50%;
    justify-content: center;
}

@media only screen and (max-width:500px){
    .global-info-left{
        font-size: 65%;
        width: 100%;
    }
    .global-info-right{
        display: none;
    }
    .global-container{
        height: 20%;
    }
}